 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 813px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 164px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 590px;
  pointer-events: auto;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 50px 50px;
}

.u-section-1 .u-image-1 {
  height: 682px;
  margin-top: -92px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 597px;
  pointer-events: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  text-align: left;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-1 .u-image-1 {
    height: 543px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 551px;
    margin-top: -45px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    height: 576px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-1 .u-image-1 {
    height: 384px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 581px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 420px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 10px 44px 10px 43px;
}

.u-section-2 .u-image-1 {
  min-height: 461px;
  background-image: url("images/smart-happiness-asian-man-house.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 759px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-image-1 {
    min-height: 358px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1165px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/high-angle-people-working-together_23-2150290101.jpg");
  min-height: 606px;
  background-position: 50% 14.47%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 438px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 10px 44px 10px 43px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 1044px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-shape-1 {
  height: 695px;
  width: 369px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 111px;
}

.u-section-3 .u-image-2 {
  width: 419px;
  height: 375px;
  box-shadow: 0 0 22px 0 rgba(41,45,51,0.2);
  margin: -437px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 419px;
  min-height: 214px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -757px auto 338px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 25px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 1024px;
  }

  .u-section-3 .u-shape-1 {
    height: 577px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 397px;
    margin-top: -436px;
  }

  .u-section-3 .u-group-1 {
    width: 397px;
    margin-top: -707px;
    margin-bottom: 305px;
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 56px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 418px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 978px;
  }

  .u-section-3 .u-shape-1 {
    height: 573px;
    width: 300px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    height: 283px;
    margin-top: -342px;
  }

  .u-section-3 .u-group-1 {
    width: 300px;
    margin-top: -667px;
    margin-bottom: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1899px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 597px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 832px;
  }

  .u-section-3 .u-shape-1 {
    height: 588px;
    width: 429px;
  }

  .u-section-3 .u-image-2 {
    width: 440px;
    height: 346px;
    margin-top: -404px;
  }

  .u-section-3 .u-group-1 {
    width: 440px;
    margin-top: -620px;
    margin-bottom: 352px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1935px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 468px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 899px;
  }

  .u-section-3 .u-shape-1 {
    height: 676px;
    width: 285px;
  }

  .u-section-3 .u-image-2 {
    width: 285px;
    height: 284px;
    margin-top: -343px;
  }

  .u-section-3 .u-group-1 {
    width: 285px;
    margin-top: -677px;
    margin-bottom: 332px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1162px;
}

.u-section-4 .u-shape-1 {
  height: 506px;
  width: 359px;
  --animation-custom_in-translate_x: -500px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 496px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-shape-2 {
  height: 299px;
  margin-top: -1002px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-image-1 {
  height: 595px;
  width: 843px;
  object-position: 45.65% 50%;
  margin: -299px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-image-2 {
  width: 470px;
  height: 534px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -185px calc(((100% - 1140px) / 2)  + 67px) 0 auto;
}

.u-section-4 .u-group-1 {
  min-height: 462px;
  width: 670px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -280px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 10px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1221px;
  }

  .u-section-4 .u-shape-1 {
    height: 497px;
    width: 341px;
    margin-top: 505px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    height: 530px;
    width: 735px;
    margin-left: calc(((100% - 940px) / 2));
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-image-2 {
    width: 435px;
    height: 519px;
    margin-top: -105px;
    margin-right: calc(((100% - 940px) / 2)  + 67px);
  }

  .u-section-4 .u-group-1 {
    width: 559px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1198px;
  }

  .u-section-4 .u-shape-1 {
    height: 387px;
    margin-top: 392px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-2 {
    margin-top: -779px;
  }

  .u-section-4 .u-image-1 {
    height: 402px;
    width: 613px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-2 {
    width: 382px;
    height: 455px;
    margin-top: -133px;
    margin-right: calc(((100% - 720px) / 2)  + 51px);
  }

  .u-section-4 .u-group-1 {
    width: 472px;
    margin-top: -91px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1188px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-2 {
    height: 261px;
  }

  .u-section-4 .u-image-1 {
    height: 354px;
    width: 540px;
    margin-top: -261px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 315px;
    height: 404px;
    margin-top: -33px;
    margin-right: calc(((100% - 540px) / 2)  + 51px);
  }

  .u-section-4 .u-group-1 {
    margin-top: -92px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1057px;
  }

  .u-section-4 .u-shape-1 {
    height: 263px;
    width: 227px;
    margin-top: 301px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-2 {
    height: 152px;
    margin-top: -564px;
  }

  .u-section-4 .u-image-1 {
    height: 252px;
    width: 340px;
    margin-top: -152px;
  }

  .u-section-4 .u-image-2 {
    width: 243px;
    height: 312px;
    margin-top: -40px;
    margin-right: calc(((100% - 340px) / 2)  + 38px);
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 74px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  min-height: 915px;
}

.u-section-5 .u-shape-1 {
  background-image: none;
  height: 246px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  width: 766px;
  min-height: 349px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -206px auto 0 calc(((100% - 1140px) / 2)  + 147px);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 10px 44px 10px 43px;
}

.u-section-5 .u-shape-2 {
  width: 604px;
  height: 306px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 110px calc(((100% - 1140px) / 2)  + 138px) 0 auto;
}

.u-section-5 .u-shape-3 {
  width: 539px;
  height: 380px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -348px auto 0 calc(((100% - 1140px) / 2)  + 71px);
}

.u-section-5 .u-layout-wrap-1 {
  width: 766px;
  margin: -447px auto 60px calc(((100% - 1140px) / 2)  + 147px);
}

.u-section-5 .u-image-1 {
  background-image: url("images/medium-shot-woman-holding-vase6.jpg");
  background-position: 50% 50%;
  min-height: 393px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/download.jpg");
  background-position: 50% 50%;
  min-height: 393px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 897px;
  }

  .u-section-5 .u-shape-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 147px);
    height: auto;
  }

  .u-section-5 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + 138px);
  }

  .u-section-5 .u-shape-3 {
    height: 372px;
    margin-left: calc(((100% - 940px) / 2)  + 71px);
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -439px;
    margin-left: calc(((100% - 940px) / 2)  + 147px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 852px;
  }

  .u-section-5 .u-group-1 {
    width: 627px;
    min-height: 356px;
    margin-top: -212px;
    margin-left: auto;
  }

  .u-section-5 .u-shape-2 {
    width: 456px;
    height: 254px;
    margin-top: 108px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-shape-3 {
    width: 459px;
    height: 290px;
    margin-top: -254px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 627px;
    margin-top: -398px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 333px;
  }

  .u-section-5 .u-image-2 {
    min-height: 333px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1420px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-shape-2 {
    height: 692px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-3 {
    width: 370px;
    height: 410px;
    margin-top: -272px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 416px;
    margin-top: -904px;
  }

  .u-section-5 .u-image-1 {
    min-height: 431px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 431px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1236px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-shape-2 {
    width: 271px;
    height: 623px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-shape-3 {
    width: 246px;
    height: 482px;
    margin-top: -548px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 284px;
    margin-top: -631px;
  }

  .u-section-5 .u-image-1 {
    min-height: 313px;
  }

  .u-section-5 .u-image-2 {
    min-height: 313px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 728px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 588px;
  pointer-events: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  text-align: left;
  font-weight: 700;
  line-height: 1.6;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 588px;
  pointer-events: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-6 .u-list-1 {
  width: 710px;
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin: 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 11px));
  min-height: 513px;
  grid-auto-columns: calc(50% - 11px);
  grid-gap: 22px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 17px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-6 .u-list-item-3 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-6 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-6 .u-list-item-4 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-6 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-6 .u-list-item-5 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-6 .u-text-12 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-6 .u-list-item-6 {
  background-size: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-6 .u-text-13 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-6 .u-text-14 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-6 .u-list-1 {
    width: 627px;
  }

  .u-section-6 .u-image-1 {
    height: 309px;
  }

  .u-section-6 .u-image-2 {
    height: 309px;
  }

  .u-section-6 .u-image-3 {
    height: 309px;
  }

  .u-section-6 .u-image-4 {
    height: 309px;
  }

  .u-section-6 .u-image-5 {
    height: 309px;
  }

  .u-section-6 .u-image-6 {
    height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-list-1 {
    width: 662px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 481px;
  }

  .u-section-6 .u-image-1 {
    height: 312px;
  }

  .u-section-6 .u-image-2 {
    height: 312px;
  }

  .u-section-6 .u-image-3 {
    height: 312px;
  }

  .u-section-6 .u-image-4 {
    height: 312px;
  }

  .u-section-6 .u-image-5 {
    height: 312px;
  }

  .u-section-6 .u-image-6 {
    height: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 681px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 631px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 462px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 462px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 462px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 462px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 462px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    height: 462px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 531px;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 341px;
  }

  .u-section-6 .u-image-2 {
    height: 341px;
  }

  .u-section-6 .u-image-3 {
    height: 341px;
  }

  .u-section-6 .u-image-4 {
    height: 341px;
  }

  .u-section-6 .u-image-5 {
    height: 341px;
  }

  .u-section-6 .u-image-6 {
    height: 341px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 903px;
}

.u-section-7 .u-shape-1 {
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 1140px;
  min-height: 717px;
  margin: -414px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 501px;
  height: 657px;
  object-position: 50% 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 82px 0 auto;
}

.u-section-7 .u-group-2 {
  width: 512px;
  min-height: 496px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -592px auto 96px 70px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-form-1 {
  width: 452px;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto -126px;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
  }

  .u-section-7 .u-image-1 {
    width: 583px;
    margin-right: 0;
  }

  .u-section-7 .u-group-2 {
    margin-top: -576px;
    margin-bottom: 81px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 888px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    margin-top: -535px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 516px;
  }

  .u-section-7 .u-group-2 {
    width: 489px;
    min-height: 495px;
    margin-bottom: 0;
  }

  .u-section-7 .u-form-1 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 26px;
    margin-bottom: -251px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1053px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 248px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    min-height: 891px;
    margin-top: -420px;
  }

  .u-section-7 .u-image-1 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-2 {
    width: 446px;
    min-height: 496px;
    margin-top: -157px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 17px;
    margin-bottom: -459px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 941px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    min-height: 776px;
    margin-top: -545px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-7 .u-image-1 {
    height: 433px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-2 {
    min-height: 437px;
    width: 304px;
    margin-top: -124px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-bottom: -261px;
  }
}