    <section class="u-align-center u-clearfix u-container-align-center u-valign-middle-xs u-white u-section-6" id="carousel_a08f">
      <div class="u-expanded-width u-palette-1-light-1 u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="50" data-animation-direction="Up"></div>
      <div class="u-container-style u-group u-group-1">
      <div class="u-container-layout u-valign-bottom-xs u-valign-middle-lg u-valign-middle-xl u-valign-top-sm u-container-layout-1">
          <img src="images/painting-hanging-shelf-full-cacti-succulents_53876-110301.jpg" class="u-align-left u-expanded-width-sm u-expanded-width-xs u-image u-image-1" data-image-width="418" data-image-height="626" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="100">
          <div class="u-align-center u-container-align-center u-container-style u-group u-white u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="100">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
              <h2 class="u-align-center u-text u-text-1">Contact Us</h2>
              <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
              <form class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                  action="https://script.google.com/macros/s/AKfycbxtGeUUDQ7iD-xVdXTdkBbv0TGR-q7lLQfBiDgfJVnI4eHPQYXYrSRf2NygMm0uXGB6xA/exec"
                  method="POST"
                  style="padding: 10px">

                  <div class="u-form-group u-form-name">
                  <label for="name-5a14" class="u-form-control-hidden u-label">Name</label>
                  <input type="text" placeholder="Enter your Name" id="name-5a14" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                  </div>
                  <div class="u-form-email u-form-group">
                  <label for="email-5a14" class="u-form-control-hidden u-label">Email</label>
                  <input type="email" placeholder="Enter a valid email address" id="email-5a14" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                  </div>
                  <div class="u-form-group u-form-message">
                  <label for="message-5a14" class="u-form-control-hidden u-label">Message</label>
                  <textarea placeholder="Enter your message" rows="4" cols="50" id="message-5a14" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                  </div>
                  <div class="u-align-center u-form-group u-form-submit">
                    <a id="customSubmitBtn" class="u-active-grey-90 u-border-none u-btn u-btn-submit u-button-style u-hover-grey-90 u-palette-4-dark-2 u-text-active-white u-text-hover-white u-btn-1">
                      Submit
                    </a>
                    <input type="submit" value="submit" class="u-form-control-hidden">

 
                  </div>
                  <div class="u-form-send-message u-form-send-success-contactus">Thank you! Your message has been sent.</div>
                  <div class="u-form-send-error-contactus u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
           
              </form>
              </div>
          </div>
          </div>
      </div>
      </div>
    </section>