<section class="u-align-center u-clearfix u-container-align-center u-valign-middle-xs u-white u-section-6" id="carousel_a08f">
    <div class="u-expanded-width u-palette-1-light-1 u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" data-animation-direction="Up"></div>
    <div class="u-container-style u-group u-group-1">
    <div class="u-container-layout u-valign-bottom-xs u-valign-middle-lg u-valign-middle-xl u-valign-top-sm u-container-layout-1">
        <img src="images/painting-hanging-shelf-full-cacti-succulents_53876-110301.jpg" class="u-align-left u-expanded-width-sm u-expanded-width-xs u-image u-image-1" data-image-width="418" data-image-height="626" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
        <div class="u-align-center u-container-align-center u-container-style u-group u-white u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
        <div class="u-container-layout u-valign-middle u-container-layout-2">
            <h2 class="u-align-center u-text u-text-1">Contact Us</h2>
            <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                <div class="u-form-group u-form-name">
                <label for="name-5a14" class="u-form-control-hidden u-label">Name</label>
                <input type="text" placeholder="Enter your Name" id="name-5a14" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-email u-form-group">
                <label for="email-5a14" class="u-form-control-hidden u-label">Email</label>
                <input type="email" placeholder="Enter a valid email address" id="email-5a14" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-message">
                <label for="message-5a14" class="u-form-control-hidden u-label">Message</label>
                <textarea placeholder="Enter your message" rows="4" cols="50" id="message-5a14" name="message" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required=""></textarea>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                <a href="#" class="u-active-grey-90 u-border-none u-btn u-btn-submit u-button-style u-hover-grey-90 u-palette-4-dark-2 u-text-active-white u-text-hover-white u-btn-1">Submit</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="b84ebd99-2bce-72d6-461d-f4b72b032c64">
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
    <p class="u-text u-text-default u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">Image from <a href="https://www.freepik.com/photos/background" class="u-border-1 u-border-active-palette-2-base u-border-grey-75 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-none u-text-body-color u-btn-2">Freepik</a>
    </p>
</section>